ul li {
    display:inline;

  }
  .black-wrapper {
    background: #2d2d30;
    color: #bdbdbd;
}
.black-wrapper h1,
.black-wrapper h2,
.black-wrapper h3,
.black-wrapper h4,
.black-wrapper h5,
.black-wrapper h6 {
    color: red;
}
.black-wrapper .lead {
    color:  red;
}
.black-wrapper a {
    color:  red;
}
.black-wrapper a:hover {
    color:  red;
}
.color-wrapper {
    background: red;
}
.color-wrapper p {
    color: #FFF
}
.inner {
    padding-top: 80px;
    padding-bottom: 80px;
}
.inner2 {
    padding-top: 50px;
    padding-bottom: 50px;
}
ul {
    padding: 0 0 0 18px
}
ol {
    padding: 0 0 0 20px
}
img {
    margin: 20px;
}